// BOARD

$card_color: #ebecf0;
$task_color-hover: #f4f5f7;
$task_color: #ffffff;
$task_title_color: #172b4d;
$light_shade: #9da5b3;
$heading__color: #40506c;
$text_color_1: #707c92;
$background_color1: #f4f5f7;
$background_color2: #eaecf0;

// --

$button_color_1: #0079bf;
